{% extends 'crm/contact_detail.html' %}

{% block contact_update %}
  <tr>
    <td>Industry</td>
    <td>
      {% if crm_contact %}
        <a href="{% url 'crm.contact.update' crm_contact.pk %}">
      {% else %}
        <a href="{% url 'crm.contact.create' contact.pk %}">
      {% endif %}
        <i class="fa fa-edit"></i>
        {% if crm_contact.industry %}
          {{ crm_contact.industry.name }}
        {% endif %}
      </a>
    </td>
    <td>
  </td>
  </tr>
  <tr>
    <td>Rate</td>
    <td>
      {% if invoice_contact %}
        <a href="{% url 'invoice.contact.update' invoice_contact.pk %}">
      {% else %}
        <a href="{% url 'invoice.contact.create' contact.pk %}">
      {% endif %}
        <i class="fa fa-edit"></i>
        {% if invoice_contact.hourly_rate %}
          {{ invoice_contact.hourly_rate }}
        {% endif %}
      </a>
    </td>
    <td>
    </td>
  </tr>
{% endblock contact_update %}
