{% extends 'crm/contact_detail.html' %}

{% block contact_update %}
  <tr>
    <td>Industry</td>
    <td>
      <a href="{% url 'crm.contact.update' contact.user.username %}">
        <i class="fa fa-edit"></i>
        {% if crm_contact.industry %}
          {{ crm_contact.industry.name }}
        {% endif %}
      </a>
    </td>
    <td>
  </td>
  </tr>
  <tr>
    <td>Rate</td>
    <td>
      <a href="{% url 'invoice.contact.update' contact.user.username %}">
        <i class="fa fa-edit"></i>
        {% if invoice_contact.hourly_rate %}
          {{ invoice_contact.hourly_rate }}
        {% endif %}
      </a>
    </td>
    <td>
    </td>
  </tr>
{% endblock contact_update %}
