{% load static %}
{% load block_tags %}
{% load thumbnail %}
<div class="article-block">
  {% if b.picture and b.article_type != 'text_top' and b.article_type != 'text_only' %}
    {% if b.link %}<a href="{{ b.link.url }}" title="{{ b.link.title }}" target="_blank">{% endif %}
    <img
      src="{% get_media_prefix %}{{ b.picture.image }}" title="{{ b.picture.title }}"
      class="pure-img{% if b.article_type == 'text_right' and allow_image_float %} stick-left stick-{{b.image_size}}{% endif %} {% if b.article_type == 'text_left' and allow_image_float %} stick-right stick-{{b.image_size}}{% endif %}">
    {% if b.link %}</a>{% endif %}
  {% endif %}

  {% if b.article_type != 'picture_only' %}
    {% if b.title %}
      <{{ heading_level }}>{{ b.title }}</{{ heading_level }}>
    {% endif %}
    {% if b.description %}
      {% autoescape off %}
        {{ b.description }}
      {% endautoescape %}
    {% endif %}
  {% endif %}

  {% if b.picture and b.article_type == 'text_top' %}
    {% if b.link %}<a href="{{ b.link.url }}" title="{{ b.link.title }}" target="_blank">{% endif %}
    <img src="{% get_media_prefix %}{{ b.picture.image }}" title="{{ b.picture.title }}"  class="pure-img" />
    {% if b.link %}</a>{% endif %}
  {% endif %}

  {% if not b.picture and b.link and b.article_type != 'picture_only' %}
    <p>
      <a href="{{ b.link.url }}" title="{{ b.link.title }}" target="_blank">
        <i class="fa fa-external-link"></i>{{ b.link.title }}
        {% if b.link.is_document %}<small>{{ b.link.file_name }}</small>{% endif %}
      </a>
    </p>
  {% endif %}

  {% if design %}
    {% block_moderate b %}
  {% endif %}

</div>
