{% extends 'project/base.html' %}

{% block sub_title %}
   - Home
{% endblock sub_title %}

{% block sub_heading %}
  About Us
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-1">
      <div class="l-box" style="text-align: center">
        KB Software was set up in April 2014 by Patrick Kimber and Greg Bushell.
        Both had worked in industries where customer service was paramount and 
        IS was used extensively. They saw an opportunity for making an impact in
        a sector where, in thier experience, the world of IS wasn't always great
        at communicating what could be done to help the business around them, 
        explaih how things could be acheieved in a way that could be easily
        undserstood by experts in other fields and providing a specialist 
        service in an open and friendly way.
        And so the idea was born; create a company that was focused on solving the 
        business problems of others using Open Source software. Work by listening and
        keeping it simple while working alongside others and providing 
        exceptional customers service.
 
####NEW PAGE???#######       
We focus on Linux, Python, Django, Postgres, HTML, CSS, Javascript, Jquery,
Android


Although we can offer help with MySQL, Microsoft SQL Server, T-SQL, PHP, Drupal, 
Java, VB, C#, SEO, Wordpress,  

We also have some experience with VB.NET, Microsoft ASP.NET, SalesForce, C, C++, 
Microsoft Office VBA, Access, Excel

Tools for delievring the solutions:
For version control we use GitHub and Mecurial
For server configuration we use SaltStack
Webserving by Ngnix
Clouds servers by Digital Ocean, Rackspace and Amazon
Searches by Elasticsearch
Write our own testing for problems
#########################
   
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="l-box" style="text-align: center">
        Patrick Kimber
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="l-box" style="text-align: center">
        Greg Bushell
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="header">
        <h2>
          We would love to discuss working with you
        </h2>
     </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="l-box" style="text-align: center">
        <br>Patrick Kimber</br>
            07840 538357
        <br>
          <a
            href="mailto:patrick@kbsoftware.co.uk">patrick@kbsoftware.co.uk
          </a>
        </br>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="l-box"style="text-align: center">
        <br>Greg Bushell</br>
            07531 279565
        <br>
          <a
            href="mailto:greg@kbsoftware.co.uk">greg@kbsoftware.co.uk
          </a>
        </br>
      </div>
    </div>
  <div/>
{% endblock content %}

{% block analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53710800-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
{% endblock analytics %}
