{% extends 'dash/base.html' %}
{% load staticfiles %}

{% block sub_title %}
   - Home
{% endblock sub_title %}

{% block heading %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3"></div>
    <div class="pure-u-1 pure-u-md-1-3">
      <img
        class="pure-img"
        src="{% static "img/project/kbsoftware-colour-screen.jpg" %}"
      >
    </div>
    <div class="pure-u-1 pure-u-md-1-3"></div>
  </div>
{% endblock heading %}

{% block sub_heading %}
  Welcome
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="l-box" style="text-align: center">
        KB Software provide business solutions using open source software.
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="l-box" style="text-align: center">
        We specialise in databases on the internet and work hard to make 
        them simple and intuitive.
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="l-box" style="text-align: center">
        We always ensure our partners have full access to their source code, 
        data and content so they can modify it, as and when they want.
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="l-box" style="text-align: center">
        We are approachable, honest and friendly so we can work closely with
        our partners, solve their business problems and help make them more
        efficient.
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="l-box" style="text-align: center">
        We believe our partners should be able to communicate with a real 
        person who will discuss things in a way they understand.
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="l-box" style="text-align: center">
        We are passionate about excellent customer service because we want to
        develop long term business relationships and partnerships.
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="header">
        <h2>
          We would love to discuss working with you
        </h2>
     </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="l-box" style="text-align: center">
        <br>
        Patrick Kimber
        <br>
        07840 538357
        <br>
        <a href="mailto:patrick@kbsoftware.co.uk">
          patrick@kbsoftware.co.uk
        </a>
        <br>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="l-box" style="text-align: center">
        <br>
        Greg Bushell
        <br>
        07531 279565
        <br>
        <a href="mailto:greg@kbsoftware.co.uk">
          greg@kbsoftware.co.uk
        </a>
        </br>
      </div>
    </div>
  </div>
{% endblock content %}

{% block analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53710800-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
{% endblock analytics %}
