{% extends 'project/base.html' %}

{% block sub_heading %}
  Welcome
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="l-box" style="text-align: center">
        KB Software provide business solutions using open source software.
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="l-box" style="text-align: center">
        We specialise in databases on the internet and work hard to make 
        them simple and intuitive.
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="l-box" style="text-align: center">
        We always ensure our partners have full access to their source code, 
        data and content so they can modify it, as and when they want.
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="l-box" style="text-align: center">
        We are approachable, honest and friendly so we can work closely with
        our partners, solve their business problems and help make them more
        efficient.
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="l-box" style="text-align: center">
        We believe our partners should be able to communicate with a real 
        person who will discuss things in a way they understand.
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="l-box" style="text-align: center">
        We are passionate about excellent customer service because we want to
        develop long term business relationships and partnerships.
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="header">
          <h2>
            We would love to discuss working with you
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="l-box" style="text-align: center">
        <br>Patrick Kimber<br/>
            07840 538357
        <br>patrick@kbsoftware.co.uk</br>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="l-box"style="text-align: center">
        <br>Greg Bushell</br>
            07531 279565
        <br>greg@kbsoftware.co.uk<br/>
      </div>
    </div>
  <div/>
{% endblock content %}
