{% extends 'web/base.html' %}

{% load static %}
{% load block_tags %}
{% load thumbnail %}

{% block content %}
  {% include 'compose/slideshow.html' %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
      <div class="page-contact-wrap">
      {% for b in body_list %}
          {% include 'web/_article_block.html' with allow_image_float=True heading_level='h1' %}
      {% endfor %}
	  {# <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2525.0233443172456!2d-3.4959503!3d50.7380559!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x90212cfbd4b3d2d9!2sSt+James+School!5e0!3m2!1sen!2suk!4v1473088116331" width="95%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> #}
      {% if design %}{% block_add body_create_url 'Article' %}{% endif %}
      </div>
    </div>

    <div class="pure-u-1  pure-u-md-1-2 pure-u-lg-1-2">
      <div class="page-contact-wrap">
          <div>
              <h3>Contact Form</h3>
              {% if form %}
                {% include '_form.html' %}
              {% endif %}
          </div>
      </div>
    </div>
  </div>
  {% include 'compose/features.html' %}
{% endblock content %}
